@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  box-sizing: border-box;
  font-family: 'Special Elite', cursive;
}

.wraper {
  position: absolute;
  background-color: white;
  box-shadow: inset 0 0 50vw #c9a61c;
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.wraper .virus-home {
  background-color: #e9f5a4;
  flex-basis: 100%;
}

.wraper .virus-home .virusImg,
.wraper .virus-home .quarantine {
  position: absolute;
  width: 20%;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  z-index: 1;
  transition: 4000ms linear;
}

.wraper .virus-home .virusImg__plus,
.wraper .virus-home .quarantine__plus {
  position: absolute;
  width: 15%;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  z-index: 1;
  transition: 3.7s ease-in-out;
}

.wraper .score {
  background-color: #d16a6a;
  opacity: 0.3;
  flex-basis: 100%;
  font-size: 10vh;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.start-game {
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: inset 0 0 50vw #c9a61c;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 640px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 10px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.start-game__instructions {
  font-size: 2vh;
  line-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.start-game__instructions--img {
  height: 2vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.start-game .tap {
  width: 90%;
  box-shadow: 0px 0px 20px 5px #3f3f3f;
  border-radius: 5px;
  cursor: pointer;
}

.start-game .tap__active {
  box-shadow: 0px 0px 10px #3f3f3f;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.doctorTitle {
  position: absolute;
  background-color: rgba(248, 216, 87, 0.3);
  border-radius: 5px;
  height: 15%;
  width: 100%;
  max-width: 640px;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 300ms;
}

.doctorTitle__first, .doctorTitle__second {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-game {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  box-shadow: inset 0 0 50vw #c9a61c;
  overflow: hidden;
  display: none;
}

.end-game__chill {
  padding: 5px;
}

.end-game__chill--img {
  width: 100%;
  height: auto;
  display: block;
}

.end-game__dentist {
  padding: 5px;
  max-width: 480px;
  display: flex;
  justify-content: center;
}

.end-game__dentist--img {
  width: 90%;
  /* zmienić height w animacji na width */
  height: auto;
  -webkit-animation: 1.5s zoom-in .2s;
          animation: 1.5s zoom-in .2s;
}

.end-game__button {
  width: 60%;
  height: 7%;
  padding: 5px;
}

.end-game__button .button {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: 'Special Elite', cursive;
}

@-webkit-keyframes zoom-in {
  0% {
    width: 90%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  60% {
    width: 110%;
    -webkit-transform: rotate(740deg);
            transform: rotate(740deg);
  }
  100% {
    width: 90%;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes zoom-in {
  0% {
    width: 90%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  60% {
    width: 110%;
    -webkit-transform: rotate(740deg);
            transform: rotate(740deg);
  }
  100% {
    width: 90%;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
/*# sourceMappingURL=style.css.map */