* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  background-color: rgba(0, 0, 0, 0.534);
  box-sizing: border-box;
  font-family: 'VT323', monospace, sans-serif;
  cursor: crosshair;
}

.wraper {
  position: absolute;
  background-color: white;
  box-shadow: inset 0 0 50vw #c9a61c;
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.wraper .virus-home {
  background-color: #e9f5a4;
  flex-basis: 100%;
}

.wraper .virus-home .virusImg,
.wraper .virus-home .quarantine {
  position: absolute;
  width: 20%;
  max-width: 100px;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  z-index: 1;
  transition: 4000ms linear;
}

.wraper .virus-home .virusImg__plus,
.wraper .virus-home .quarantine__plus {
  position: absolute;
  width: 15%;
  max-width: 100px;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  z-index: 1;
  transition: 3.7s ease-in-out;
}

.wraper .score {
  background-color: #d16a6a;
  opacity: 0.3;
  flex-basis: 100%;
  font-size: 3rem;
  font-family: 'VT323', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.start-game {
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: inset 0 0 50vw #c9a61c;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 640px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.start-game__instructions {
  width: 100%;
  min-width: 250px;
  font-size: 2.4vh;
  text-align: center;
  padding: 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.start-game__instructions--header {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 2vh;
}

.start-game__instructions--img {
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game__instructions--img .little-img {
  height: auto;
  width: 10%;
  margin: 0 2vw;
}

.start-game .tap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game .tap__img {
  width: 70%;
  height: auto;
  box-shadow: 0px 0px 20px 5px #3f3f3f;
  border-radius: 5px;
  cursor: pointer;
}

.start-game .tap__img--active {
  box-shadow: 0px 0px 10px #3f3f3f;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.start-game .version {
  position: absolute;
  font-size: 8px;
  left: 1px;
  bottom: 1px;
}

.doctorTitle {
  position: absolute;
  height: 15%;
  width: 100%;
  max-width: 640px;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  font-size: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 300ms;
}

.doctorTitle__first, .doctorTitle__second {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.end-game {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  box-shadow: inset 0 0 50vw #c9a61c;
  cursor: default;
  overflow: hidden;
  display: none;
}

.end-game__chill {
  padding: 5px;
  max-width: 480px;
  display: flex;
  justify-content: center;
}

.end-game__chill--img {
  width: 80%;
  height: auto;
}

.end-game__dentist {
  padding: 5px;
  max-width: 480px;
  display: flex;
  justify-content: center;
}

.end-game__dentist--img {
  width: 90%;
  height: auto;
  -webkit-animation: 1.5s zoom-in .2s;
          animation: 1.5s zoom-in .2s;
}

.end-game__button {
  width: 60%;
  height: 8%;
  padding: 5px;
}

.end-game__button .button {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1.5rem;
  font-family: 'VT323', monospace, sans-serif;
  cursor: pointer;
}

@-webkit-keyframes zoom-in {
  0% {
    width: 90%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  60% {
    width: 110%;
    -webkit-transform: rotate(740deg);
            transform: rotate(740deg);
  }
  100% {
    width: 90%;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes zoom-in {
  0% {
    width: 90%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  60% {
    width: 110%;
    -webkit-transform: rotate(740deg);
            transform: rotate(740deg);
  }
  100% {
    width: 90%;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
/*# sourceMappingURL=style.css.map */