* {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  background-color: rgba(0, 0, 0, 0.534);
  // line-height: 1;
  box-sizing: border-box;
  font-family: 'Pangolin', cursive;
}


// this is my code 

.wraper {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 50vw rgb(201, 166, 28);
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  transform: translate(-50%);
  // bottom: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  .virus-home {
    background-color: rgb(233, 245, 164);
    flex-basis: 100%;
    // height: 10%;

    .virusImg,
    .quarantine {
      position: absolute;
      // background-color: rgb(233, 245, 164);
      // background-color: rgb(241, 16, 16);
      width: 20%;
      max-width: 100px;
      top: 0;
      transform: translateY(-100%);
      left: 0;
      z-index: 1;
      transition: 4000ms linear;

      &__plus {
        position: absolute;
        width: 15%;
        max-width: 100px;
        top: 0;
        transform: translateY(-100%);
        left: 0;
        z-index: 1;
        transition: 3.7s ease-in-out;
      }
    }
  }

  .score {
    background-color: rgb(209, 106, 106);
    opacity: 0.3;
    flex-basis: 100%;
    // height: 15%;
    font-size: 3rem;
    // padding: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    // display: none;   
  }
}

.start-game {
  position: fixed;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 50vw rgb(201, 166, 28);
  // border-radius: 3px;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 640px;
  left: 50%;
  transform: translate(-50%);
  // top: 10%;
  // left: 5%;
  padding: 10px;
  // font-size: 1.5rem;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  // display: none;
  
  &__instructions {
    // height: 80%;
    // width: 100%;
    // height: 100%;
    width: 100%;
    // max-width: 640px;
    min-width: 250px;
    font-size: 1.2rem;
    line-height: 100%;
    text-align: center;
    padding: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    // font-family: 'Montserrat Subrayada', sans-serif;

    &--img {
      height: 7%;
      width: 100%;
      // background-color: rgb(78, 160, 92);
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .little-img {
        height: auto;
        width: 10%;
        // display: block;
      }
    }
  }

  .tap {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px 0 0;
    // flex: 0 1 80%;
    // width: 80%;
    // height: 10%;
    // background-color: rgba(137, 202, 111, 0);
    
    // border: 2px solid rgb(122, 184, 98);
    // transition: .05s;
    
    &__img {
      width: 70%;
      height: auto;
      box-shadow: 0px 0px 20px 5px rgb(63, 63, 63);
      border-radius: 5px;
      cursor: pointer;
    }

    &__img--active {
      box-shadow: 0px 0px 10px rgb(63, 63, 63);
      transform: translate(5px, 5px);
    }
  }
}

.doctorTitle {
  position: absolute;
  // background-color: rgba(248, 216, 87, 0.3);
  border-radius: 5px;
  height: 15%;
  width: 100%;
  max-width: 640px;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 300ms;

  &__first,
  &__second {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

.end-game {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  transform: translate(-50%);
  // display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  // align-content: center;
  box-shadow: inset 0 0 50vw rgb(201, 166, 28);
  overflow: hidden;
  display: none;

  &__chill {
    padding: 5px;

    &--img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__dentist {
    padding: 5px;
    max-width: 480px;
    display: flex;
    justify-content: center;

    &--img {
      width: 90%;
      /* zmienić height w animacji na width */
      height: auto;
      // max-height: 50vh;
      // display: block;
      animation: 1.5s zoom-in .2s;
    }
  }

  &__button {
    width: 60%;
    height: 7%;
    padding: 5px;

    .button {
      width: 100%;
      height: 100%;
      // display: block;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      font-family: 'Special Elite', cursive;
    }
  }

  // &__chill {
  //   border-radius: 10px;
  //   // max-width: 80vw;
  //   flex-basis: 0;
  //   // min-width: 100px;
  //   // height: 40%;
  //   // min-height: 20px;
  //   // box-shadow: 0px 0px 70px rgb(201, 166, 28);
  //   // display: none;
  //   // animation: 2s zoom-in;
  // }

  // &__dentist {
  //   border-radius: 10px;
  //   height: auto;
  //   // min-width: 100px;
  //   // height: 40%;
  //   // min-height: 20px;
  //   // width: 40%;
  //   // height: 40%;
  //   // box-shadow: 0px 0px 70px rgb(201, 166, 28);
  //   // animation: 2s zoom-in;
  // }

  // &__button {
  //   flex-basis: 60%;
  //   height: 10%;
  //   // margin: 0 30%;
  //   background-color: rgba(255, 255, 255, 0);
  //   border: 1px solid rgba(170, 141, 23, 0);
  // }
}

@keyframes zoom-in {
  0% {
    width: 90%;
    // box-shadow: 0px 0px 70px rgb(201, 166, 28);
    transform: rotate(0);
  }

  60% {
    width: 110%;
    // box-shadow: 0px 0px 10px rgb(201, 166, 28);
    transform: rotate(740deg);
  }

  100% {
    width: 90%;
    // box-shadow: 0px 0px 70px rgb(201, 166, 28);
    transform: rotate(720deg);
  }
}