* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  background-color: rgba(0, 0, 0, 0.534);
  box-sizing: border-box;
  font-family: 'Pangolin', sans-serif;
}

.wraper {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 50vw rgb(201, 166, 28);
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  .virus-home {
    background-color: rgb(233, 245, 164);
    flex-basis: 100%;

    .virusImg,
    .quarantine {
      position: absolute;
      width: 20%;
      max-width: 100px;
      top: 0;
      transform: translateY(-100%);
      left: 0;
      z-index: 1;
      transition: 4000ms linear;

      &__plus {
        position: absolute;
        width: 15%;
        max-width: 100px;
        top: 0;
        transform: translateY(-100%);
        left: 0;
        z-index: 1;
        transition: 3.7s ease-in-out;
      }
    }
  }

  .score {
    background-color: rgb(209, 106, 106);
    opacity: 0.3;
    flex-basis: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

.start-game {
  position: fixed;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 50vw rgb(201, 166, 28);
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 640px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  &__instructions {
    width: 100%;
    min-width: 250px;
    font-size: 1.2rem;
    line-height: 100%;
    text-align: center;
    padding: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

    strong {
      font-weight: bold;
    }

    &--img {
      height: 7%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .little-img {
        height: auto;
        width: 10%;
        margin: 0 5px;
      }
    }
  }

  .tap {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__img {
      width: 70%;
      height: auto;
      box-shadow: 0px 0px 20px 5px rgb(63, 63, 63);
      border-radius: 5px;
      cursor: pointer;
    }

    &__img--active {
      box-shadow: 0px 0px 10px rgb(63, 63, 63);
      transform: translate(5px, 5px);
    }
  }
}

.doctorTitle {
  position: absolute;
  height: 15%;
  width: 100%;
  max-width: 640px;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1.5rem;
  border-radius: 5px;
  // color: rgb(86, 168, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 300ms;

  &__first,
  &__second {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

.end-game {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 250px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  box-shadow: inset 0 0 50vw rgb(201, 166, 28);
  overflow: hidden;
  display: none;

  &__chill {
    padding: 5px;

    &--img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__dentist {
    padding: 5px;
    max-width: 480px;
    display: flex;
    justify-content: center;

    &--img {
      width: 90%;
      height: auto;
      animation: 1.5s zoom-in .2s;
    }
  }

  &__button {
    width: 60%;
    height: 7%;
    padding: 5px;

    .button {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      font-family: 'Pangolin', cursive;
    }
  }
}

@keyframes zoom-in {
  0% {
    width: 90%;
    // box-shadow: 0px 0px 70px rgb(201, 166, 28);
    transform: rotate(0);
  }

  60% {
    width: 110%;
    // box-shadow: 0px 0px 10px rgb(201, 166, 28);
    transform: rotate(740deg);
  }

  100% {
    width: 90%;
    // box-shadow: 0px 0px 70px rgb(201, 166, 28);
    transform: rotate(720deg);
  }
}